.container {
  max-width: 60%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  color: #08090a;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.container > .pages-parent {
  height: 100%;
}
